@import '../Helpers/Variables.scss';
.table{
    
    &__wrapper{
        position: relative ;
        height: 600px ;
        overflow: auto ;
        
    }
    &-dark{
        position: sticky;
        top: 0;
    }
    &-head{
        padding: 15px 30px !important;
        background-color: #01384D !important;
        
        
    }
    &-data{
        padding: 15px 30px !important;
        color: #01384D !important;
    }
    &-body{
        border: 1px solid rgba($color: #01384D, $alpha: .3);
    }
    
}
::-webkit-scrollbar {
    width: 6px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #ffffff;
    
}

/* Handle */
::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}
.notfound{
    display: flex;
    flex-direction: column;
    align-items: center;
    &__title{
        font-size: 300px;
        margin-top: 50px;
        color: #01384D;
    }
    &__text{
        margin-top: 30px;
        font-size: 20px;
        color: rgba($color: #01384D, $alpha: .5);
    }
    &__btn{
        padding: 17px 100px;
        width: 300px;
        display: block;
        text-align: center;
        margin-top: 30px;
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 20px;
        text-align: center;
        color: #FFFFFF;
        background: #01384D;
        border-radius: 7px;
        border: 2px solid #01384D;
        
    }
}
.model{
    &__btn{
        width: 34px;
        height: 34px;
        display: flex;
        justify-content: center;
        align-items: center;
        border: none;
        transition: .3s;
        border-radius: 5px;
        &--group{
            display: flex;
            align-items: center;
        }
        &--trash{
            background-color: rgba($color: #D61F1F, $alpha: .1);
            margin-left: 10px;
        }
        &--pen{
            background-color: rgba($color: #01384D, $alpha: .1);
            margin-right: 10px;
            
        }
        &:hover{
            transition: .3s;
            transform: scale(1.2);
        }
    }
}
.product{
    &__add{
        position: fixed;
        right: 50px;
        bottom: 50px;
        @include button
    }
}

.category{
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    width: 270px;
    height: 400px;
    background-color: #FFFFFF;
    border:2px solid transparent #FFFFFF !important;
    padding: 25px;
    &__exit{
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 30px;
        height: 30px;
        background-color: #01384D;
        right: 0;
        top: 0;
        cursor: pointer;
    }
    &__title{
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 600;
        font-size: 18px;
        line-height: 22px;
        color: #000000;
    }
    &__label{
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 17px;
        color: #000000;
        margin-top: 30px;  
        margin-bottom: 10px;      
    }
    &__input{
        @include input;
    }
    &__btn{
        margin-top: 41px;
        cursor: pointer;
        @include button
    }
    &__state{
        margin-top: 20px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-weight: 400;
        font-size: 14px;
        line-height: 17px;
        color: #000000;
    }
}